*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}
body{
  background-color: rgba(252, 251, 252, 0.667);
}


div div{
    color: red;
}

/* div>div>div>p{
    color: red;
} */
/* div~p{
    color: red;

} */